<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
    <!--comentário html-->
    <!--insira o bootstrap aqui!-->
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <div class="container">
        
        <div class="row">
            <div class="col-3">
                <form>
                    Nome do aluno <input type="text" class="form-control" name="nome_curso">
                    <button type="button" class="btn btn-outline-info">Cadastrar aluno</button>
                </form>


            </div>
        </div>
    </div>
    
</body>
</html>